[Unit]
Description=Schedule the wallpaper download process

# man systemd.timer to see more
[Timer]
OnCalendar=*:1/2
Persistent=true

[Install]
WantedBy=timers.target
